/* --- Fuente ---  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

/* --- Colores ---  */
:root {
    --color-principal: rgb(98, 98, 98);
    --color-iti: rgb(255, 145, 0);
    --color-ds: rgb(62, 219, 23);
    --color-af: rgb(13, 54, 236);
    --color-iti-sec: rgb(255, 145, 0);
    --color-ds-sec: rgb(62, 219, 23);
    --color-af-sec: rgb(13, 54, 236);
}


body {
    margin-top: 100px;
}

tr, th, td {
    text-align: center;
}


/* Borde logo nav */
nav a img {
    border-radius: 60%;
}

#novedades {
    background-color: pink;
}

.espacio {
    margin-top: 50px;
}

section {
    padding: 50px 25px;
    background-color: rgba(255, 255, 255, 0.8);
}


#iniciar-sesion2 {
    display: none;
}

/* --- Media queries ---  */
@media (max-width: 768px) {
    #iniciar-sesion {
        display: none;
    }

    #iniciar-sesion2 {
        display: block;
    }
}

