
/* --- Colores ---  */

:root {
    --color-principal: #000;
    --color-secundario: #FFF;
    
}

.bg-principal {
    background-color: var(--color-principal);
}

.bg-secundario {
    background-color: var(--color-secundario);
}