/* --- Fuente ---  */
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');
*/
* {
    font-family: 'Ubuntu', sans-serif;
}

/* --- Colores ---  */
:root {
    --color-principal: rgb(98, 98, 98);
    --color-iti: rgb(255, 145, 0);
    --color-ds: rgb(62, 219, 23);
    --color-af: rgb(13, 54, 236);
    --color-iti-sec: rgb(255, 145, 0);
    --color-ds-sec: rgb(62, 219, 23);
    --color-af-sec: rgb(13, 54, 236);
}


body {
    margin-top: 100px;
    background-color: #666;
}


tr,
th,
td {
    text-align: center;
}


/* Borde logo nav */
nav a img {
    border-radius: 60%;
}

nav a {
    text-decoration: none;
}



#carreras {
    background-color: #eee;
}

#carreras a {
    text-decoration: none;
}

#novedades {
    background-color: #eee;
    padding: 25px;
}

#novedades h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-principal);
    padding: 20px;
}

.espacio {
    margin-top: 50px;
}

section {
    padding: 50px 25px;
    background-color: rgba(255, 255, 255, 0.8);
}

#novedades section article {
    padding: 20px;
}


#iniciar-sesion2 {
    display: none;
}

/* --- Media queries ---  */
@media (max-width: 768px) {
    #iniciar-sesion {
        display: none;
    }

    #iniciar-sesion2 {
        display: block;
    }
}

/* --------- Calendario ---------*/

.form-date {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.form-date__label {
    
    
    
    padding-bottom: 8px;
}

.form-date__input[type="date"] {
    appearance: none;
    color: #1D1D1D;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    border:1px solid #ECF0F1;
    background:#ECF0F1;
    display: inline-block;
    visibility: visible;
    width: 140px;
    padding: 4px;
    position: relative;
}
.form-date__input[type="date"]:focus {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-date__input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: 0 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: auto;
}

.form-date__input[type="date"]::-webkit-date-and-time-value {
    margin: 0;
}

.form-date__input[type="date"] {
    border: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
}

.form-date__input[type="date"]::-webkit-inner-spin-button,
.form-date__input[type="date"]::-webkit-outer-spin-button,
.form-date__input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.form-date__input[type="date"]::-webkit-datetime-edit-month-field { padding: 0; }
.form-date__input[type="date"]::-webkit-datetime-edit-day-field { padding: 0; }
.form-date__input[type="date"]::-webkit-datetime-edit-year-field { padding: 0; }

.form-date__input[type="date"]::-webkit-datetime-edit-fields-wrapper { padding: 0; }

.aside-example {
font-size: 16px;
width: auto;
top:0;
right: 0;
position: fixed;
padding: 16px;
border: 1px solid black;
}

/* Carousel */

.carousel-item a {
    
    
    
}

.carousel-caption p {
    color: orange !important;
}


/* botones */

#btn_color{
    background-color: #ffa600;
}


/* --------- FOOTER --------- */
/* MAPA FOOTER */
#map {
    height: 180px;
    width: 100%;
}