/* General */
body {
    margin: 0;
    padding: 0;    
    text-align: center;
  }
  
  /* Input Forms*/
  input[type="text"], input[type="password"], a, ul{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    
    margin: 20px auto;
  }
  
  input[type="submit"] {
    padding: 10px;    
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
  /* Header */
  header {
    border-bottom: 5px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }

  
  